{{!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Saved News/a>
            
             {{!-- Was not able to Enable a reference for Saved News, I planned on making a saved news page --}}
        </div>
        <ul class="nav navbar-nav navbar-right top-buttons">
            <li><button class="btn home">Home</button></li>
        </ul>
    </div>
</nav>


<div class="articles">
    {{#each articles}}
    {{#if saved}}
    <div class="article">
        <a href="{{link}}">
            <h2>{{title}}</h2>
        </a>
        <p>{{summary}}</p>
        <button class="btn unsave" data-id="{{_id}}">Unsave</button>
        <button class="btn addNote" data-id="{{_id}}">Note</button>
        <br>
    </div>
    {{/if}}
    {{/each}}
</div>

{{!-- modal for displaying and creating notes --}}
<div id="addANote" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Add a note</h4>
            </div>
            <div id="notes" class="note-body"></div>
        </div>
    </div>
</div> --}}